<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBH4wskbarXIuTpSN1_7zP9-XK0iopEYuY</string>
	<key>GCM_SENDER_ID</key>
	<string>14547584427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healthlogger.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>healthlogger-27230</string>
	<key>STORAGE_BUCKET</key>
	<string>healthlogger-27230.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14547584427:ios:4d9e90e78b1df20d15feee</string>
</dict>
</plist>